.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: 1;
}

main {
  position: 2;
}

h1,
p {
  text-align: center;
}

p {
  font-size: x-large;
}

ul {
  list-style: none;
}

img {
  margin: 0 auto;
}
