.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  flex-grow: 1;
  height: null;
  width: null;
  align-items: center;
  justify-content: center;
}

h1,
p {
  text-align: center;
}

p {
  font-size: x-large;
  font-weight: 500;
}

ul {
  list-style: none;
}

button {
  margin-top: 25px;
  font-size: 25px;
}

main {
  text-align: center;
}
